#checkin, #checkout {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Dosis';
  font-size: 18px;
  display: inline-block;
  margin: 6px 4px 0 4px;
}

div.react-datepicker-popper {
  z-index: 50;
}

.dateMistake {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}