#checkin, #checkout {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Dosis';
  font-size: 18px;
  display: inline-block;
  margin-top: 6px;
}

.react-datepicker-wrapper, 
.input-group,
.react-datepicker__input-container {
  display: inline-block;
  position: relative;
  display: table;
  border-collapse: separate;
  width: -webkit-fill-available;
}

div.react-datepicker {
  font-size: 1.2rem;
  font-family: 'Dosis';
}

.react-datepicker-wrapper {
  padding: 0 5px;
}

div.react-datepicker-popper {
  z-index: 50;
}

.dateMistake {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}